# Thanks to kylerames.com/2010/08/11/gitignor-ignore-emacs-files/
# ignore emacs auto save files
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
*.o
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
scripts/output/
# These are Matlab "autosave" files that started
# showing up on upgrade from R2019b to R2021b
*.asv
*.nc